.hero-unit {
  padding: 60px;
  margin-bottom: 30px;
  font-size: 15px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.hero-unit h1 {
  color: #C77405;
}
.searchForm {
  display: inline-block;
  padding-bottom: 30px;
}
.searchForm input,
.searchForm select {
  width: inherit;
  display: inline-block;
}
.add-job {
  margin-left: 15px;
}
.add-job:before {
  border-left: 1px solid #eee;
}
#editor {
  max-height: 300px;
  height: 300px;
  background-color: white;
  border-collapse: separate;
  border: 1px solid #cccccc;
  padding: 4px;
  box-sizing: content-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  overflow: scroll;
  outline: none;
}
#voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2, 2);
  -webkit-transform: scale(2, 2);
  -moz-transform: scale(2, 2);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}
div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dropdown-menu a {
  cursor: pointer;
}
.btn-toolbar {
  margin-bottom: 5px;
}
.form-label {
  display: inline-block;
  padding-right: 5px;
}
label {
  font-weight: normal;
}
.form-group {
  margin-bottom: 10px;
}
.horizontal-form input {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  width: inherit;
}
.form-btn-bar {
  margin-top: 10px;
  margin-right: 10px;
}
